@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Open Sans', sans-serif;
}

.appWrapper {
  margin: 60px 20px;
  padding: 10px 10px;
  border-radius: 5px;
  text-align: center;
  background-color: darkblue;
  color: white;
}

.title {
  font-size: 28px;
  margin: 0.75rem 0;
}

.red-input,
.blue-input,
.green-input {
  width: 10rem;
  margin: 0.75rem 0;
}

.rgb-to-hex {
  margin: 0.25rem 0;
}

.page-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #191919;
  color: #fff;
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 26px;
}

.resultWrapper {
  padding: 15px 0;
}

input[type='color'] {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: solid 1px #fff;
}
